code {
    background-color: #a3a3a3;
    border: 1px solid #4e4e4e;
    display: block;
    padding: 10px;
    color: black;
    margin: 20px;
    white-space: pre-wrap;
    }

body {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
    font-size: 18px;
    vertical-align: middle;
    
  }

th, td {
    padding: 5px 15px;
    text-align: left;
    font-size: 16px;
    }


  
.content {
    max-width: 1200px;
    margin: auto;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
