div.spoiler {
	overflow: hidden;
	position: relative;
	margin: 10px;
	padding: 0;
}

div.spoiler img {
	vertical-align: bottom;
	filter: blur(20px) grayscale(100%);
	transition: 0.3s;
    height: 100%;
	width: 50%;
    width: auto;
}

.spoiler-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3rem;
	line-height: 3rem;
	width: 50%;
	padding: 0 1rem;
	font-size: 1rem;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	text-align: center;
	border-radius: 1rem;
	cursor: pointer;
}

div.spoiler input {
	width: 0;
	height: 0;
}

div.spoiler input:checked ~ img {
	filter: none;
}

div.spoiler input:checked, div.spoiler input:checked ~ label {
	display: none;
}
